#
# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

source "Kconfig.zephyr"

menu "SlimeNRF"

config USE_SLIMENRF_CONSOLE
    bool "Use basic console"
    default y
    depends on USB_DEVICE_STACK
    help
        Use basic console for commands.

choice
	prompt "System retention"
	depends on SOC_COMPATIBLE_NRF52X && CRC || RETAINED_MEM
    help
      Select the system retention method.
      Flash-backed data and fusion state is stored to reduce boot time.

config APP_USE_NRF_RETENTION
	bool "Use state retention in system off using nRF POWER"
	depends on SOC_COMPATIBLE_NRF52X && CRC
	help
	  On some Nordic chips this application supports retaining
	  memory while in system off using POWER peripheral.
	  Select this to enable the feature.

config APP_USE_RETAINED_MEM
	bool "Use state retention in system off using retained_mem driver"
	depends on RETAINED_MEM

endchoice

choice
	prompt "Battery voltage mapping"
    default BATTERY_NO_MAPPING

config BATTERY_USE_REG_BUCK_MAPPING
    bool "Use buck regulator mapping (3.7V battery, DCDC)"
    help
      Use a constant power mapping for battery voltage.
      Preffered for systems with a buck regulator.
      Measured at a system voltage of 3.0V.

config BATTERY_USE_REG_LDO_MAPPING
    bool "Use LDO linear regulator mapping (3.7V battery, LDO)"
    help
      Use a constant current mapping for battery voltage.
      Preferred for systems with a linear regulator.

config BATTERY_NO_MAPPING
    bool "Disable battery voltage mapping"
    help
      Always map to 100% battery. Disables battery monitoring.

endchoice

config IGNORE_RESET
    bool "Ignore reset"
    default y
    help
        If sw0 is available, don't change any reset behavior.

config USER_SHUTDOWN
    bool "User shutdown support"
    default y
    help
        Allow user to use reset or sw0 to shutdown.

config USE_IMU_WAKE_UP
    bool "IMU wake up support"
    default y
    help
        Use IMU wake up state if IMU wake up is present.

config DELAY_SLEEP_ON_STATUS
    bool "Delay IMU wake up mode on status flags"
    default y
    depends on USE_IMU_WAKE_UP
    help
        Delay IMU wake up state if there is an active status flag or in pairing mode.

config WOM_USE_DCDC
    bool "Use DCDC in IMU wake up mode"
    depends on USE_IMU_WAKE_UP
    help
        Use DCDC instead of LDO in IMU wake up state if it is more efficient.

config SENSOR_GYRO_ODR
    int "Gyrometer output data rate (Hz)"
    default 800
    help
        Requested gyrometer output data rate. Actual rate will be raised to the nearest supported rate.
        A higher rate will increase the time to read and process sensor data.
        400Hz is recommended for IMUs with poor gyrometer rate noise density. (Ex. BMI270, LSM6DS3TR-C)

config SENSOR_GYRO_FS
    int "Gyrometer full scale (dps)"
    default 2000
    help
        Requested gyrometer full scale.
        Actual scale will be raised to the nearest supported scale.
        A lower scale may improve noise performance, but is more likely to saturate.

config SENSOR_ACCEL_FS
    int "Accelerometer full scale (g)"
    default 16
    help
        Requested accelerometer full scale.
        Actual scale will be raised to the nearest supported scale.
        A lower scale may improve noise performance, but is more likely to saturate.

config SENSOR_USE_MAG
    bool "Magnetometer support"
    default y
    help
        Use magnetometer if it is present.

config USE_SENSOR_CLOCK
    bool "Use external IMU clock"
    default y
    help
        Use external IMU clock if it is present.

choice
	prompt "Sensor fusion"
    default SENSOR_USE_VQF
    help
        Select the sensor fusion method.

config SENSOR_USE_XIOFUSION
    bool "Use x-io Technologies Fusion"
    help
        Use x-io Technologies Fusion for sensor fusion.
        Based on Madgwick filter.

config SENSOR_USE_VQF
    bool "Use VQF"
    depends on CPU_HAS_FPU
    help
        Use VQF for sensor fusion.
        Based on Kalman filter.

endchoice

config SENSOR_USE_6_SIDE_CALIBRATION
    bool "Use 6-side calibration"
    default y
    depends on USE_SLIMENRF_CONSOLE
    help
        Use 6-side calibration for accelerometer.
        Calibration can be completed through the basic console.

config RADIO_TX_POWER
    int "Radio output power (dBm)"
    default 8
    help
        Radio output power level.
        A lower value may reduce power consumption.

endmenu
