#
# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

source "Kconfig.zephyr"

menu "SlimeNRF"

config USE_SLIMENRF_CONSOLE
    bool "Use basic console"
    depends on USB_DEVICE_STACK
    help
        Use basic console for commands.

choice
	prompt "Use retention"

config APP_USE_NRF_RETENTION
	bool "Use state retention in system off using nRF POWER"
	depends on SOC_COMPATIBLE_NRF52X && CRC
	help
	  On some Nordic chips this application supports retaining
	  memory while in system off using POWER peripheral.
	  Select this to enable the feature.

config APP_USE_RETAINED_MEM
	bool "Use state retention in system off using retained_mem driver"
	depends on RETAINED_MEM

endchoice

config USER_SHUTDOWN
    bool "User Shutdown"
    default y
    help
        Allow user to use reset or sw0 to shutdown.

config USE_MAG
    bool "Magnetometer Support"
    default y
    help
        Use magnetometer if it is present.

config IGNORE_RESET
    bool "Ignore Reset"
    default y
    help
        If sw0 available, don't change any reset behavior.

config WOM_USE_DCDC
    bool "WOM Use DCDC"
    default n
    help
        Use DCDC instead of LDO for WOM if it is more efficient.

endmenu
