#
# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

source "Kconfig.zephyr"

menu "SlimeNRF"

config USE_SLIMENRF_CONSOLE
    bool "Use basic console"
    depends on USB_DEVICE_STACK
    help
        Use basic console for commands.

choice
	prompt "Use retention"

config APP_USE_NRF_RETENTION
	bool "Use state retention in system off using nRF POWER"
	depends on SOC_COMPATIBLE_NRF52X && CRC
	help
	  On some Nordic chips this application supports retaining
	  memory while in system off using POWER peripheral.
	  Select this to enable the feature.

config APP_USE_RETAINED_MEM
	bool "Use state retention in system off using retained_mem driver"
	depends on RETAINED_MEM

endchoice

config USE_IMU_WAKE_UP
    bool "IMU wake up support"
    default y
    help
        Use sleep states if IMU wake up is present.

config USER_SHUTDOWN
    bool "User shutdown support"
    default y
    help
        Allow user to use reset or sw0 to shutdown.

config USE_MAG
    bool "Magnetometer support"
    default y
    help
        Use magnetometer if it is present.

config IGNORE_RESET
    bool "Ignore reset"
    default y
    help
        If sw0 is available, don't change any reset behavior.

config WOM_USE_DCDC
    bool "Use DCDC in IMU wake up mode"
    depends on USE_IMU_WAKE_UP
    help
        Use DCDC instead of LDO in sleep states if it is more efficient.

config USE_SENSOR_CLOCK
    bool "Use external IMU clock"
    default y
    help
        Use external IMU clock if it is present.

endmenu
